.activeManhwa {
  border-radius: 0.1em;
  border: solid white 1px;
  box-shadow: 0.4em 0.4em 0px 0px rgba(148, 245, 148, 0.75);
  -webkit-box-shadow: 0.4em 0.4em 0px 0px rgba(148, 245, 148, 0.75);
  -moz-box-shadow: 0.4em 0.4em 0px 0px rgba(148, 245, 148, 0.75);
}
.manhwaMargin {
  margin-top: 1em;
  margin-bottom: 1em;
}
.manhwaMargintitle {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.alertTitle {
  margin-top: 1.5em;
}

.modalText {
  color: black;
}
